body{width: 1900px;margin-left: 0}
#cssmenu{display: flex;width: 1900px;background-color: black; }
#cssmenu ul{padding: 0;margin: 0}
#cssmenu ul li{
   list-style: none;
   display: inline-block;
   padding: 25px 20px;
}
#cssmenu ul li a{
   text-decoration: none;
   color: white;
}
.active {background-color: #14a5d9}
.col-2-3{
   background: url("images/header.jpg") no-repeat;
background-size: contain;
   width: 1300px;
   height: 873px;
   float: left;

}
.col-1-3{width: 560px;
   float: left;
   height: 833px;
   background-color: #14a5d9;
   padding: 20px;
   color: white;
}
.col-1-2:first-of-type{float: left;}
.col-1-2:last-of-type{
   background: url("images/main.jpg");
   background-size: contain;
   width: 800px;
   height: 400px;
   float: left;
   clear: right;
}